@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
  --body-col-main: #0C0C0C;
  --body-col-sec: #181818;

  --contrast-col-main: #2788FF;

  --font-color-main: #E2E2E2;
  --font-color-sec: #575757;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--body-col-main);
  color: var(--font-color-main);
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
